<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0" id="GTM">

  <author href="" rim:copyright="">iDroidBerry</author>

  <name>Go To Philippines Mobile</name>

  <description>
    The Philippine mini tour-guide in one app!
  </description>

  <feature id="blackberry.app.orientation">
    <param name="mode" value="portrait"/>
  </feature>

  <content src="Index.html" rim:allowInvokeParams="true"/>

  <icon src="img/Icon150.png"/>
  <icon src="img/Icon80.png"/>

  <feature id="blackberry.ui.dialog"/>

  <rim:permissions>
  </rim:permissions>

</widget>